body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}


#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}

.section-red {
  background-color: #ff4c68;
  color: #fff;
}

.section-white {
  background-color: #fff;
  color: black;
}

/* Navigation bar */
.navbar {
  padding-bottom: 6rem;
  font-size: 1.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Download-button */
.download-button {
  margin-right: 1rem;
}

/* Headings */
.big-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}

.section-heading {
  font-size: 2.5rem;
}

/* Title Image */
.col-img {
  position: relative;
}

.title-img {
  width: 55%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  position: relative;
  z-index: 1;
}

.feature-icon {
  font-size: 4rem;
  color: #ef8172;
  margin: 1rem;
}

i:hover {
  color: #ff4c68;
}

/* Testimonials */
.testimonials-img {
  width: 8rem;
  border-radius: 100%;
  padding: 1rem;
}

/* Press */
.press-img {
  width: 12rem;
  margin: 0 2% 0;
  padding-bottom: 4%;
}

/* Pricing */
.pricing-col {
  padding: 2% 2%;
}

/* Footer */
.social-icon {
  margin: 1rem;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  #title .container-fluid {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}

/* @media (max-width: 1920px) {
  .cta-heading {
    font-weight: 900;
    font-size: 2rem;
  }
} */
